body {
    background-image: url('https://res.cloudinary.com/yourmechanic/image/upload/dpr_auto,f_auto,q_auto/v1/article_images/1_How_to_Deal_With_an_Overheated_Engine_Show_illustration_of_a_person_on_the_phone_standing');
    background-size: auto 945px;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400; /* Adjusted font weight */
    width: 500px;
    height: auto;
    margin: 100px auto; /* Simplified margin */
    background-color: rgba(255, 255, 255, 0.9); /* Adjusted background color with opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
    text-align: center; /* Centered text */
    color: rgb(18, 13, 27); /* Adjusted text color */
    box-sizing: border-box;
    border: 1px solid rgb(44, 42, 42);
}

h3 {
    margin-left: 90px;
    color: aqua;
}

p {
    margin-left: 90px;
    color: rgb(18, 13, 27); /* Adjusted text color */
    font-size: 18px; /* Adjusted font size */
}
